<div id="<%= dom_id idea %>">
  <p>
    <strong class="label">Name:</strong>
    <%= idea.name %>
  </p>

  <p
    id="description-label">
    <strong class="label">Description:</strong>
    <%= idea.description %>
  </p>

  <p>
    <strong class="label" id="picture-label">Picture:</strong>
    <%= image_tag idea.picture %>
  </p>

</div>
