/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body { 
        color: blueviolet;
        font-weight:normal;
        font-weight: 200;
        font-family: Arial, Helvetica, sans-serif;
        margin:10;
}
.label {
        color:grey;
}

#picture-label {
        font-size: 16px;
        color:hotpink
}

#description-label {
      font-size: 14px  
}

img {
        width: 200px;
        margin:auto;
        display:block;
        padding:20px 0px;
}

#idea {
        padding:10px;
        text-align: center;
        margin: 10px 0px;
}

h1 {
        margin:10px;
        background-color: #2B3840;
        color:#05DBBA;
        text-align: center;
        padding: 20px;
}

a {
        background-color: teal;
        font-size: 12px;
        color:aliceblue;
        padding: 5px;
        border-radius: 3px;
}